<!-- <span *ngFor="let item of usersList">
    <h1>danh sách khóa học</h1>
    {{ item.username }},
    {{ item.lastname}}
  </span>

<span *ngFor="let item of usersList">
  <h1>danh sách khóa học</h1>
  {{ item.username }},
  {{ item.lastname}}
</span> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<!-- <h1 >
  fdsfdsds
  <span *ngFor="let item of list">fsdfsdfsd</span>
  {{ item.username }}
</h1> -->