
    <form [formGroup]="addForm" >
      <div class="form-row">
        <div class="form-group col-md-6 ">
          <!-- Mã lớp học -->
          <label for="">
            <span style="color: red" class="font-weight-bold">(*)</span>
            Mã lớp:</label>
          <input [ngClass]="{'is-invalid': addForm.get('class_Code').errors && addForm.get('class_Code').touched}"
            class="form-control" placeholder="Mã lớp" formControlName="class_Code">
          <div class="invalid-feedback">
            <span *ngIf="addForm.get('class_Code').hasError('required')">
              Vui lòng nhập mã lớp học
            </span>
          </div>
        </div>
        <!-- Chương trình đào tạo -->
        <div class="form-group col-md-6 ">
          <label for="">
            <span style="color: red" class="font-weight-bold">(*)</span>
            Khóa học
          </label>
          <select name="courseId" class="form-control" formControlName="courseId">
            <option value="">Chọn khóa học</option>
            <ng-container *ngFor="let item of coursesList">
              <option value="{{ item.id }}">
                {{item.couName}}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="form-group">
        <!-- Mã lớp học -->
        <label for="">
          <span style="color: red" class="font-weight-bold">(*)</span>
          Mã lớfdsfdsp:</label>
        <input [ngClass]="{'is-invalid': addForm.get('class_Description').errors && addForm.get('class_Description').touched}"
          class="form-control" placeholder="Mã lớp" formControlName="class_Description">
        <div class="invalid-feedback">
          <span *ngIf="addForm.get('class_Description').hasError('required')">
            Vui lòng nhập mã lớp học
          </span>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="form-group">
        <label for="my-input">Địa điểm học</label>
        <textarea
          [ngClass]="{'is-invalid': addForm.get('class_Address').errors && addForm.get('class_Address').touched}"
          class="form-control" placeholder="Địa điểm học" formControlName="class_Address"></textarea>
      </div>
      <div class="form-group">
        <div *ngFor="let item of studyTimeCheckbox; let i = index">
          <label for="my-input">
          <input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event)">
            {{item.name}}
        </label>
        </div>
      </div>
      <h3>Select Multiple Cities    </h3>
      <div>
        <ng-multiselect-dropdown name="city" 
        [placeholder]="'Select City'" [data]="cities" 
        formControlName="studyTime" [disabled]="disabled" [settings]="dropdownSettings" 
        (onDropDownClose)="onDropDownClose()" (onSelect)="onItemSelect($event)"
         (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
    </form>
  <div class="modal-footer">
    <button type="button" [disabled]="!addForm.valid" class="btn btn-success" (click)="uploadSubmit()" >Lưu</button>
  </div>
