<h2>My heros</h2>
<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>
        <span>id: {{selectedHero.id}}</span>
    </div>
    <div class="form-group">
        <label for="my-input">Name</label>
        <input id="my-input" [(ngModel)]="selectedHero.name" class="form-control" type="text" name="">
    </div>
</div> -->
