<div class="mt-5">
  <div class="col-md-12">
    <div class="card card-wrapper">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4>Quản lý tài khoản</h4>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-success" (click)="modal.showModal();" >
                <i class="fa fa-plus"></i>
                Thêm tài khoản
              </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="table" datatable [dtOptions]="dtOptions" data-page-length='5'
          class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên tài khoản</th>
              <th>Họ tên</th>
              <th>Liên hệ</th>
              <th>Ngày đăng ký</th>
              <th>Tình trạng</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usersList; let i = index">
              <td> {{ i + 1}} </td>
              <td> {{ item.username}}</td>
              <td> {{ item.fullname}}</td>
              <td> {{ item.createdDate | date: 'dd/MM/yyyy'}}</td>
              <td> </td>
              <td>
                <span class="badge badge-success">{{ item.status}}</span>
              </td>
              <td class="text-center">
                <a href="" class="mr-2">
                  <i class="fa fa-eye font-weight-200" aria-hidden="true"
                    style="color: blue; font-size: 1.2em; font-weight: bold"></i>
                </a>
                <a href="" class="mr-2">
                  <i class="fa fa-pencil-square-o font-weight-200" aria-hidden="true"
                    style="color: green; font-size: 1.2em"></i>
                </a>
                <a href="">
                  <i class="fa fa-trash mr-2 font-weight-200" aria-hidden="true"
                    style="color: red; font-size: 1.2em"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <app-admin-class-add #modal (itemCreated)="itemCreated($event)" ></app-admin-class-add> -->

<app-admin-user-add-new #modal (itemCreated)="itemCreated($event)"></app-admin-user-add-new>

<!-- <app-admin-class-add #modal (itemCreated)="itemCreated($event)" ></app-admin-class-add> -->
