<section id="portfolio-section" class="portfolio home-section">
  <div class="container">
    <div class="section-header">
      <h2>ĐIỂM ƯU VIỆT</h2>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted" color="white">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title" >Học theo lộ trình</h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title">Hệ thống bài tập online
              </h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title">Giải quyết vấn đề</h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" style="margin-top: 30px;">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title">Mô hình Agile/ Scrum</h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title">Giảng viên tâm huyết</h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <div fxFlex="30">
              <h1>
               <button mat-raised-button >
                <mat-icon class="text-muted">
                  local_library
                </mat-icon>
               </button>
              </h1>
            </div>
            <div fxFlex="70">
              <h4 class="intro-title">Cơ sở vật chất hiện đại</h4>
              <span>Học viện sẽ định hướng và đưa ra lộ trình phù hợp cho các học viên</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
