<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="username" required [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
            required [(ngModel)]="model.password">
        </div>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div> -->

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1 class="text-center">Đăng nhập</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Tên tài khoản" name="username"
                        #username="ngModel" required [(ngModel)]="model.username"
                        [ngClass]="{ 'is-invalid' :username.errors && username.touched,'is-valid': !username.errors && username.touched}">
                      <div class="invalid-feedback" *ngIf="username.invalid">
                        Vui lòng nhập tên tài khoản
                      </div>
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Mật khẩu" name="password" required
                        #password="ngModel"
                        [(ngModel)]="model.password"
                        [ngClass]="{ 'is-invalid' :password.errors && password.touched,'is-valid': !password.errors && password.touched}">
                      <div class="invalid-feedback" *ngIf="password.invalid">
                        Vui lòng nhập mật khẩu
                      </div>
                      <!-- <div *ngIf="password.errors.minlength || password.errors.maxlength" class="alert alert-danger">
                          Mật khẩu phải từ 6 tới 20 kí tự
                        </div> -->
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Đăng nhập</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" [routerLink]="['/reset-password']" routerLinkActive="router-link-active" >Quên mật khẩu ?</button>
                      </div>
                    </div>
                  </form>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
