<div class="mt-5">
    <div class="col-md-12">
      <div class="card card-wrapper">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4>Quản lý lớp học</h4>
            </div> 
            <div class="col-md-6 text-right">
              <button class="btn btn-success" (click)="modal.showModal();" >
                <i class="fa fa-plus"></i>
                Thêm mới lớp học
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã lớp</th>
                <th>Khóa học</th>
                <th>Khải giảng</th>
                <th>Kết thúc</th>
                <th>Thời gian học</th>
                <th>Tình trạng</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of classesList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ item.class_Code}}</td>
                <td>
                  <div *ngFor="let course of coursesList">
                    <span *ngIf="item.courseId == course.id">{{ course.couName}}</span>
                  </div>
                </td> 
                <td> {{item.startTime |  date: 'dd/MM/yyyy'}}</td>
                <td> {{item.endTime |  date: 'dd/MM/yyyy'}}</td>
                <td>{{ item.studyTimeGetDay}}</td>
                <td>
                  <span *ngIf=" item.status == 1; else Nu" class="badge badge-success">Active</span>
                    <ng-template #Nu> <span class="badge badge-danger">Inactive</span></ng-template>
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <app-admin-class-add #modal (itemCreated)="itemCreated($event)" ></app-admin-class-add>



