<div class="mt-5">
    <div class="col-md-12">
      <div class="card card-wrapper">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4>Quản lý lớp học</h4>
            </div> 
            <div class="col-md-6 text-right">
              <button class="btn btn-success" >
                <i class="fa fa-plus"></i>
                Thêm lớp học
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã lớp</th>
                <th>Khóa học</th>
                <th>Khải giảng</th>
                <th>Kết thúc</th>
                <th>Địa điểm học</th>
                <th>Ghi chú</th>
                <th>Tình trạng</th>
                <th>Người tạo</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <button class="btn btn-primary text-left mb-2" (click)="modal.showModal();" ><i class="fa fa-plus"></i></button>
  <app-admin-course-add #modal  (itemCreated)="itemCreated($event)"></app-admin-course-add> -->