<p class="mt-5">dsfsdf</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="loggedIn()" class="dropdown">
        <button id="my-dropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Welcome User</button>
        <div class="dropdown-menu" aria-labelledby="my-dropdown">
          <a class="dropdown-item active" (click)="logout()">Logout</a>
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="username" required [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
            required [(ngModel)]="model.password">
        </div>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
