<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>
<span *ngFor="let value of values">
  {{value.id}}, {{value.name}}
</span>